<template>
  <v-app>
    <the-frame />
  </v-app>
</template>

<script>
import TheFrame from "@/components/TheFrame";
import axios from 'axios';
axios.defaults.headers.common['X-TBA-Auth-Key'] = 'MzKIp6VRD3FBxysnZclMLUBqBqLB8N2ipac2K9pH7Fej66uXrwRIdtUjVjKXBeGs';
axios.defaults.headers.common.accept = 'application/json';

export default {
  name: "App",
  components: {
    TheFrame
  },
  data: () => ({
    //
  })
};
</script>
