<template>
  <div>
      <v-autocomplete v-model="event" :items="allEvents" item-text='name' item-value='key'/>
      <teams-in-event v-if="event" :eventCode="event"/>
  </div>
</template>

<script>
import axios from 'axios'
import TeamsInEvent from '@/components/TeamsInEvent'
export default {
    name: 'MainPage',
    components:{
        TeamsInEvent
    },
    mounted(){
        axios.get(`https://www.thebluealliance.com/api/v3/events/${this.$store.state.year}/simple`).then(({data})=>this.allEvents=data)
    },
    data() {
        return {        
            event: null,
            allEvents: [{name:'loading'}]
        }
    },
    watch:{
        '$store.state.year'(){
            this.event = null
            axios.get(`https://www.thebluealliance.com/api/v3/events/${this.$store.state.year}/simple`).then(({data})=>this.allEvents=data)
        }
    }

}
</script>

<style>

</style>