<template>
  <v-simple-table fixed-header height="75vh">
    <template v-slot:default>
      <thead>
        <tr>
          <th v-for="title in titles" :key="title">{{title}}</th>
        </tr>
      </thead>
      <tbody>
        <table-game-row v-for="game in sortedGames" :key="game.key" :game="game" :followedTeams="followedTeams"/>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
import TableGameRow from "@/components/TableGameRow";
let compLevel = ['qm', 'qf', 'sf', 'f'];
export default {
  name: "GamesTable",
  components: {
    TableGameRow
  },
  props: {
    filteredGames: Array,
    followedTeams: Array
  },
  data() {
    return {
      titles: [
          "Amount of teams",
        "Game",
        "Red1",
        "Red2",
        "Red3",
        "Blue1",
        "Blue2",
        "Blue3",
        "Red score",
        "Blue score",
        "Time"
      ]
    };
  },
  methods: {},
  computed: {
    sortedGames() {
      let newArray = [];
      let sorted = [...this.filteredGames].sort(
        (a, b) => a.match_number - b.match_number
      );
        newArray = sorted.sort((a,b)=> b.followedTeams - a.followedTeams)
      return newArray.sort((a,b)=> compLevel.indexOf(a.comp_level) - compLevel.indexOf(b.comp_level));
    }
  }
};
</script>

<style>
</style>