<template>
  <tr>
    <td>{{game.followedTeams}}</td>
    <td>{{game.comp_level}} {{ game.match_number }}</td>
    <td
      v-for="team in game.alliances.red.team_keys"
      :key="team"
      class="red-color"
      v-bind:class="{ 'red-win': game.winning_alliance=='red', 'favoriteTeam': followedTeams.includes(+removeFrc(team))}"
    >{{removeFrc(team)}}</td>
    <td
      v-for="team in game.alliances.blue.team_keys"
      :key="team"
      class="blue-color"
      v-bind:class="{ 'blue-win': game.winning_alliance=='blue', 'favoriteTeam': followedTeams.includes(+removeFrc(team)) }"
    >{{removeFrc(team)}}</td>
    <td
      class="red-color"
      v-bind:class="{ 'red-win': game.winning_alliance=='red'}"
    >{{game.alliances.red.score}}</td>
    <td
      class="blue-color"
      v-bind:class="{ 'blue-win': game.winning_alliance=='blue' }"
    >{{game.alliances.blue.score}}</td>
    <td>{{new Date(+(game.time+'000')).toLocaleString('en-GB')}}</td>
  </tr>
</template>

<script>
export default {
  name: "TableGameRow",
  props: {
    game: Object,
    followedTeams: Array
  },
  methods: {
    removeFrc(name) {
      return name.substr(3);
    }
  },
  computed: {}
};
</script>

<style scoped>
.favoriteTeam {
  text-decoration: underline;
  text-decoration-style: double;
  font-weight: 900;
}
.blue-color {
  background: rgba(0, 0, 255, 0.3);
}
.red-color {
  background: rgba(255, 0, 0, 0.3);
}
.blue-win {
  background: rgba(0, 0, 255, 0.8);
}
.red-win {
  background: rgba(255, 0, 0, 0.8);
}
</style>