<template>
  <div>
    <v-autocomplete
      v-model="followedTeams"
      :items="sortedTeams"
      :item-text="teamName"
      item-value="team_number"
      multiple
    />
    <games-table v-if="followedTeams.length" :filteredGames="filteredGames" :followedTeams="followedTeams"/>
  </div>
</template>

<script>
import axios from "axios";
import GamesTable from "@/components/GamesTable";

export default {
  name: "TeamsInEvent",
  components: {
    GamesTable
  },
  props: {
    eventCode: String
  },
  mounted() {
    axios
      .get(
        `https://www.thebluealliance.com/api/v3/event/${this.eventCode}/teams/simple`
      )
      .then(({ data }) => (this.teams = data));
      axios
        .get(
          `https://www.thebluealliance.com/api/v3/event/${this.eventCode}/matches/simple`
        )
        .then(({ data }) => (this.games = data));
  },
  data() {
    return {
      teams: [],
      followedTeams: [],
      games: []
    };
  },
  computed:{
      sortedTeams(){
          return [...this.teams].sort((a,b)=>a.team_number - b.team_number)
      },
      filteredGames(){
          return [...this.games].filter((game)=> +game.followedTeams>0)
      }
  },
  watch: {
    eventCode() {
      axios
        .get(
          `https://www.thebluealliance.com/api/v3/event/${this.eventCode}/teams/simple`
        )
        .then(({ data }) => {
          this.teams = data;
          this.followedTeams = [];
        });
      axios
        .get(
          `https://www.thebluealliance.com/api/v3/event/${this.eventCode}/matches/simple`
        )
        .then(({ data }) => (this.games = data));
    },
    followedTeams(){
        this.games.forEach(game=>{
            game.followedTeams = (game.alliances.red.team_keys.filter(r=> this.followedTeams.indexOf(+this.removeFrc(r)) >= 0).length) + (game.alliances.blue.team_keys.filter(r=> this.followedTeams.indexOf(+this.removeFrc(r)) >= 0).length)
        });
        let re = this.games;
        this.games = false;
        this.games = re;
    }
  },
  methods: {
    teamName(team) {
      return `${team.team_number} ${team.nickname}`;
    },
    removeFrc(name) {
      return name.substr(3);
    }
  }
};
</script>

<style>
</style>