<template>
  <div>
    <the-nav-bar />
    <router-view class="page"/>
  </div>
</template>

<script>
import TheNavBar from "@/components/TheNavBar";
export default {
  components: {
    TheNavBar
  }
};
</script>

<style scoped>
.page{
    width: 80%;
    margin: auto;
}
</style>