<template>
  <v-app-bar>
    <v-app-bar-nav-icon
      src="https://lh3.googleusercontent.com/XJMfH3PCD9Vy2J5sg3d1sew4IFf2BIgtCpg921n0F2lQyMvmOhrsoY9UIqqrm_5GLw"
    ></v-app-bar-nav-icon>

    <v-btn class="link" to="/">Home</v-btn>
    <v-btn class="link" to="/favorites">Favorites</v-btn>

    <v-spacer></v-spacer>
    <div class="yearSelector">
      <v-select v-model="year" :items="years" />
    </div>
    <v-switch v-model="$vuetify.theme.dark" hide-details inset label="Theme Dark"></v-switch>
  </v-app-bar>
</template>

<script>
export default {
  name: "TheNavBar",
  data() {
    return {
      year: 2020,
      years: Array.from({ length: 16 }, (v, k) => k + 2005).sort(
        (a, b) => b - a
      )
    };
  },
  watch: {
    year() {
      this.$store.commit("updateYear", this.year);
    }
  }
};
</script>

<style scoped>
.link {
  margin-left: 1vw;
}
.yearSelector {
  margin-top: 1vh;
  margin-right: 2vh;
  width: 5vw
}
</style>